body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #ff6b6b, #f06595, #fcf7e7, #48dbfb);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

h1 {
    color: #fff;
}

/* CSS */
button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button:active {
  opacity: .5;
}




#ipInfo {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

p {
    margin: 8px 0;
}

#map {
    height: 300px;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #1f2e3d;
    transform: scale(1.1);
}

.content {
    padding: 80px 20px;
    text-align: center;
}

.content h1 {
    color: rgb(0, 0, 0);
    margin: 0;
    font-size: 48px;
}

.content p {
    color: rgb(0, 0, 0);
    font-size: 24px;
}


.LocatifyTitle_And_Button {
    position: fixed;
    justify-content: center;
    padding-top: 100px;

}

.Result_Container {
    background-color: #1f2e3d;
    display: none; /* Initially hidden */
    width: 75%; /* Ensure it takes the full width */
    height: 75%; /* Ensure it takes the full height */
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.General_Info {
    background-color: 1f2e3d;
    order: 2;
    padding-bottom: 200px;
    position: absolute;

}

#IP {
    display: inline-flex;
    font-size: xx-large;
    background-color: #1c2733;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 30px;


}

#ISP {
    font-size: x-large;
    background-color: #1c2733;
    color: #FFFFFF;
    padding: 10px;
    margin-top: 10px;
    border-radius: 30px;

}

.Location_Info {
    background-color: #1f2e3d;
    order: 1;
    margin-right: 25%;
    position: absolute;
    margin-right: 50%;


}

.Location_Info h1 {
    font-size: 40px;
    background-color: #1c2733;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 30px;

}

#City, #Region, #Country {
    background-color: #1c2733;
    font-size: x-large;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 30px;


}

.Map_Info {
    background-color: #1f2e3d;
    order: 3;
    position: absolute;
    margin-left: 50%;
    margin-top: 10%;

}

#Longitude, #Latitude {
    display: inline-flex;
    font-size: 23px;
    background-color: #1c2733;
    color: #FFFFFF;

}
